.home-container {
    text-align: center;
  }
  
  .image-container {
    position: relative;
    /* height: 60%; */
    width: 100%;
    max-width: 100%; 
  }
  
  .background-image {
    width: 100%;
    max-height: 60%;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    
    letter-spacing: 0.2em;
    transform: translate(-50%, -50%);
    color: white; /* Change this to your preferred text color */
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: 100; /* Adjust the font weight as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better visibility */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  .center-text {
    
    /* top: 50%;
    left: 50%; */
    display:flex;
    margin:30px;
    justify-content: center;
    justify-items: center;
    letter-spacing: 0.2em;
    /* transform: translate(-50%, -50%); */
    color: white; /* Change this to your preferred text color */
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: 100; /* Adjust the font weight as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better visibility */
    white-space: nowrap; /* Prevent text from wrapping */
    
  }

  .divider {
    border: 0.5px solid rgb(252, 250, 250);
    width: 20%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the divider and add some space around it */
  }

  .txt{
    text-align: center;
    letter-spacing: 0.05em;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.9;
    margin-bottom: 1cm;
   
  }


.link-images {
    display: flex;
    /* justify-content: space-between; */
     /* margin: 20px 0;Add margin to the top and bottom of the section */
  }
  
  .link-image-container {
    position: relative;
    width: 50%; /* Adjust width to ensure images are side by side */
    /* animation: fade-in 1.5s 1.5s ease both;  */
  }
  
  .link-image {
    width: 100%;
    height: 90%;
  }
  
  .link-image-text {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change this to your preferred text color */
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: 100; /* Adjust the font weight as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better visibility */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  

  /* font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "gotham narrow",Georgia,serif;
  line-height: 1.9;
  color: #323232;
  text-align: center;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  font-size: .85em;
  margin: 0 auto;
  max-width: 48em; */
 
  
/*   
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-family: gotham,"Helvetica Neue",sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.4;
  animation: fade-in 1.5s 1.5s ease both; */



  /* font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "gotham narrow",Georgia,serif;
  font-size: 110%;
  line-height: inherit;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  display: block;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding-bottom: 25%;
  opacity: 0.7;
  transition: transform 5s, opacity 1s, -webkit-transform 5s;
  transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  background-image: url(https://sprec.com/wp-content/uploads/2016/10/koolina-1400x875.jpg); */